target/
.classpath
.project
.settings/

# We use pom.xml as the source of truth and don't rely on a specific IDE
.idea
*.iml

.openapi-generator/
conf/webhooks-environment.yaml
conf/webhooks-local.yaml
